.toast {
  --toastify-color-light: theme('colors.neutral.100');
  --toastify-color-dark: theme('colors.neutral.800');
  --toastify-color-info: theme('colors.neutral.500');
  --toastify-color-success: theme('colors.success.500');
  --toastify-color-warning: theme('colors.warning.500');
  --toastify-color-error: theme('colors.error.500');
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: fit-content;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-z-index: 9999;

  --toastify-text-color-light: theme('colors.neutral.700');
  --toastify-text-color-dark: theme('colors.neutral.300');

  --toastify-color-progress-light: theme('colors.neutral.300');
  --toastify-color-progress-dark: theme('colors.neutral.700');
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  --toastify-color-progress-bgo: .2;
}