@tailwind base;
@layer base {
  html {
    font-size: 18px;
    background-color: theme(colors.neutral.50);
    color: theme(colors.neutral.900);
  }
  html.dark {
    background-color: theme(colors.neutral.900);
    color: theme(colors.neutral.50);
  }
  * {
    transition:
      border-color 300ms,
      color 300ms,
      background-color 300ms;
  }
  *:focus {
    outline: none;
  }
}
@tailwind components;
@tailwind utilities;
